@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --color-primary: rgb(255, 255, 255);
    --color-primary-alpha: rgba(255, 255, 255, 0.6);
    --color-link: rgb(162, 185, 243);
    --color-gray-light: rgb(49, 50, 53);
    --color-gray: rgb(32, 33, 36);
    --color-gray-dark: rgb(23, 23, 23);

    --font-family: 'Roboto', arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: var(--font-family);
    color: var(--color-primary);
    background-color: var(--color-gray);
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

li {
    display: inline-block;
    list-style: none;
}

.hidden-small {
    display: none;
}

header {
    padding: 10px;
    height: 70px;
}

header nav .nav-right {
    float: right;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color-primary);
}

header .nav-right li {
    margin-right: 12px;
}

header .nav-right .menu {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: 5px;
}

header .nav-right .menu:hover {
    background-color: var(--color-gray-light);
}

header .nav-right .menu-apps .icon-dots {
    height: 24px;
    fill: var(--color-primary);
}

header .nav-right .menu-user img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

main {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-bottom: 20px;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-form > * {
    margin-bottom: 30px;
}

.search-form button {
    height: 36px;
    padding: 0 16px;
    font-size: 1.4rem;
    color: var(--color-primary);
    background-color: var(--color-gray-light);
    border: 1px solid var(--color-gray-light);
    border-radius: 5px;
}

.search-form button:hover {
    border: 1px solid var(--color-primary-alpha);
}

.search {
    position: relative;
    width: 300px;
    height: 45px;
    padding: 5px 12px 5px 48px;
    border-radius: 25px;
    border: 1px solid var(--color-primary-alpha);
    font-size: 1.6rem;
    background-color: var(--color-gray);
    color: var(--color-primary);
}

.search:hover,
.search:focus {
    border: none;
    outline: none;
    background-color: var(--color-gray-light);
    box-shadow: 0 1px 5px var(--color-gray-dark);
}

.icon-search {
    position: absolute;
    top: 12px;
    left: 15px;
    z-index: 1;
    user-select: none;
}

.icon-search svg {
    fill: var(--color-primary-alpha);
    height: 20px;
}

.icon-voice {
    position: absolute;
    top: 10px;
    right: 15px;
    user-select: none;
}

.icon-voice svg {
    height: 25px;
}

.btn-search {
    display: flex;
    gap: 12px;
}

.offered-by {
    font-size: 1.2rem;
    color: var(--color-primary-alpha);
}

.offered-by a {
    color: var(--color-link);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-rows: 45px 1fr;
    font-size: 1.4rem;
    background-color: var(--color-gray-dark);
    color: var(--color-primary-alpha);
}

footer .top {
    padding: 15px 30px;
    border-bottom: 1px solid var(--color-gray-light);
}

footer .bottom {
    padding: 15px 30px;
}

footer .bottom ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

footer .bottom ul li {
    padding: 0 10px;
}

footer .bottom ul.left li {
    margin-bottom: 20px;
}

@media (min-width: 500px) {
    .search {
        width: 400px;
    }
}

@media (min-width: 1000px) {
    .search {
        width: 585px;
    }

    footer .bottom {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    footer .bottom ul {
        display: initial;
    }

    footer .bottom ul li {
        padding: 0 10px;
        margin: 0;
    }
}